*{
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    padding: 0;
}
body{
    background-color: rgb(218,251,255);
}
.header{
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
    /* border: 3px red solid; */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 15px black;
    background-color: rgb(218,251,255);
}
.leftHeader{
    padding: 20px;
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: row;
    /* border: 3px blue solid; */
    justify-content: space-between;
    align-items: center;
}
.headerText{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}
.headerText:hover{
    text-decoration: underline;
}
.rightHeader{
    display: flex;
    width: 20%;
    margin: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
}
.logoPairContainer{
    /* border: 3px blue solid; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lefcoLogo{
    object-fit: contain;
    height: 60%;
    /* margin: 0.5vh */
    margin-right: 0.3vw;
}
.logoText{
    font-size: 2.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.iconContainer, .logoContainer{
    /* border: 3px green solid; */
    height: 100%;
    transition: all ease 0.5s;
    /* width: 10%; */
    display: flex;
    align-items: center;
}
.iconContainer:hover{
    transform: scale(110%);
}
i{
    object-fit: contain;
    font-size: 2.4rem;
    /* color: rgb(33,65,134); */
}
.contactButton{
    padding: 15px;
    background-color: rgb(20,112,175);
    /* background-color: rgb(68,191,182); */
    color: white;
    transition: all ease 0.5s;
}
.contactButton:hover{
    background-color: rgb(20,112,175, 0.8);
    /* background-color: rgb(68,191,182, 0.8); */
}
.mainContent{
    width: 100%;
    height: fit-content;
    padding-top: 15vh;
    /* border: 3px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upperMain{
    /* border: 3px black solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0 5vw;
}
.logoMissionStmnt{
    /* border: 3px blue solid; */
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5vh 0; 
}
.xxlLogoContainer{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 7.5vw;
}
.xxlLogo{
    object-fit: contain;
}
.missionStmnt{
    font-family: 'Poppins', sans-serif;
    padding: 5vh 5vw;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}
.ourOrgContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10vh;
    padding: 5vh 5vw;
    width: fit-content;
    box-shadow: 35px 35px 0px rgb(201,201,201);
    margin-bottom: 10vh;
    background-color: rgb(248,248,248);
}
.ourOrgTitle{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2vh;
}
.findOutMore{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 3vh;
    font-size: 1rem;
    font-weight: 400;   
}
.learnMoreButton{
    padding: 15px;
    background-color: rgb(20,112,175);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}