*{
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    padding: 0;
}
body{
    background-color: rgb(218,251,255);
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
    /* border: 3px red solid; */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 15px black;
    background-color: rgb(218,251,255);
}
.leftHeader{
    padding: 0 20px;
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: row;
    /* border: 3px blue solid; */
    justify-content: space-between;
    align-items: center;
}
.headerText{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    padding: 0 1vw;
}

.rightHeader{
    display: flex;
    width: 20%;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
}
.logoPairContainer{
    /* border: 3px blue solid; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lefcoLogo{
    object-fit: contain;
    height: 60%;
    /* margin: 0.5vh */
    margin-right: 0.3vw;
}
.logoText{
    font-size: 2.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.aboutHeader{
    /* border: 3px green solid; */
    position: relative;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    padding: 0 1vw;
}
.aboutHeaderTray{
    position: absolute;
    /* border: 3px red solid; */
    /* left: -10%; */
    bottom: 0;
    left: 0;
    display: block;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 150%;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    /* align-items: flex-start; */
    padding-left: 25%;
    /* transform: translateX(-100%); */
}
.logoPairContainer, .aboutHeader, .neighborhoodHeader{
    /* border: 3px black solid; */
    height: 100%;
    /* width: 100%; */
    /* text-align: center;
    display: flex;
    justify-content: center; */
}
.liner{
    position: relative;
    right: 20%;
    width: 120%;
    height: 1px;
    background: rgb(201,201,201);

}
.aboutHeaderTray > a{
    font-size: 1rem;
    padding: 5% 0;
    /* transform: translateX(25%); */
}
a:hover{
    text-decoration: underline;
    
}
.iconContainer, .logoContainer{
    /* border: 3px green solid; */
    height: 100%;
    transition: all ease 0.5s;
    /* width: 10%; */
    display: flex;
    align-items: center;
}
.iconContainer:hover{
    transform: scale(110%);
}
i{
    object-fit: contain;
    font-size: 2.4rem;
    /* color: rgb(33,65,134); */
}
.contactButton{
    padding: 15px;
    background-color: rgb(20,112,175);
    /* background-color: rgb(68,191,182); */
    color: white;
    transition: all ease 0.5s;
}
.contactButton:hover{
    background-color: rgb(20,112,175, 0.8);
    /* background-color: rgb(68,191,182, 0.8); */
}
.mainContent{
    width: 100%;
    height: fit-content;
    margin-top: 20vh;
    /* border: 3px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}