*{
    box-sizing: border-box;
    margin: 0;
    user-select: none;
    padding: 0;
}
body{
    background-color: rgb(218,251,255);
}
a{
    text-decoration: none;
    color: inherit;
}
.header{
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 15;
    /* border: 3px red solid; */
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 15px black;
    background-color: rgb(218,251,255);
}
.leftHeader{
    padding: 0 20px;
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: row;
    /* border: 3px blue solid; */
    justify-content: space-between;
    align-items: center;
}
.headerText{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    padding: 0 1vw;
}

.rightHeader{
    display: flex;
    width: 12.5%;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
    /* border: 3px blue solid; */
}
.logoPairContainer{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lefcoLogo{
    object-fit: contain;
    height: 60%;
    /* margin: 0.5vh */
    margin-right: 0.3vw;
}
.logoText{
    font-size: 2.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.aboutHeader{
    /* border: 3px green solid; */
    position: relative;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    padding: 0 1vw;
}
.aboutHeaderTray{
    position: absolute;
    /* border: 3px red solid; */
    /* left: -10%; */
    bottom: 0;
    left: 0;
    display: block;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 150%;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    /* align-items: flex-start; */
    padding-left: 25%;
    /* transform: translateX(-100%); */
}
.logoPairContainer, .aboutHeader, .neighborhoodHeader{
    /* border: 3px black solid; */
    height: 100%;
    /* width: 100%; */
    /* text-align: center;
    display: flex;
    justify-content: center; */
}
.liner{
    position: relative;
    right: 20%;
    width: 120%;
    height: 1px;
    background: rgb(201,201,201);

}
.aboutHeaderTray > a{
    font-size: 1rem;
    padding: 5% 0;
    /* transform: translateX(25%); */
}
a:hover{
    text-decoration: underline;
    
}
.iconContainer, .logoContainer{
    /* border: 3px green solid; */
    height: 100%;
    transition: all ease 0.5s;
    /* width: 10%; */
    display: flex;
    align-items: center;
}
.iconContainer:hover{
    transform: scale(110%);
}
i{
    object-fit: contain;
    font-size: 2.4rem;
    /* color: rgb(33,65,134); */
}
.contactButton{
    padding: 15px;
    background-color: rgb(20,112,175);
    /* background-color: rgb(68,191,182); */
    color: white;
    transition: all ease 0.5s;
}
.contactButton:hover{
    background-color: rgb(20,112,175, 0.8);
    /* background-color: rgb(68,191,182, 0.8); */
}
.mainContent{
    z-index: 5;
    width: 100%;
    height: 80vh;
    margin-top: 15vh;
    /* border: 3px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.carouselContainer{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 80%;
    /* border-top: 0px;
    border-left: 0px;
    border-right: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: black; */
    background-color: rgb(248,248,248);
    box-shadow: 35px 35px 0px rgb(201,201,201);
    flex-direction: row;
}
.leftArrow{
    left: -8%;

}
.rightArrow{
    right: -8%;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms all ease;
    position: absolute;
    border-radius: 50%;
    height: 8vh;
    border: 2px black solid;
    width: 8vh;
    background-color: rgb(248,248,248);
    opacity: 0.4;
}
.arrow:hover{
    opacity: 1;
}
.carousel{
    height: 80%;
    width: 60%;
    display: flex;
    /* border: 3px brown solid; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.headerName{
    /* padding-top: 5%; */
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    /* border: 3px orange solid; */
    text-transform: uppercase;
    flex-direction: column;
}
.image{
    transition: 500ms all ease; 
}
.headerName > p{
    /* border: 3px orange solid; */
    transition: 500ms all ease; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourTeamPicture{
    /* border: 3px black solid; */
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ourTeamPicture > img{
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.ourTeamDescription{
    /* border: 3px yellow solid; */
    height: 80%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    /* padding-bottom: 3vh; */
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.ourTeamDescription > p{
    transition: 500ms all ease; 
    height: fit-content;
    width: 100%;
    /* border: 3px green solid; */
    font-family: 'Poppins', sans-serif;
    /* padding-bottom: 3vh; */
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
}